{% set projectpage = page.find(page.header.reference) %}


<section class="modular modular-projects">
    <h2 class="heading">{{ page.header.title }}</h2>
    <article class="project-list widget">
        {% for item in projectpage.children() %}
            <article class="project-item">
                <div class="item-image">
                    {% set preview_image = item.header.preview.image | first %}
                   <img src="{{ preview_image.path }}">
                </div>
                <div class="item-desc">
                    <strong class="title">{{ item.header.title }}</strong>
                    <p>{{ item.header.preview.text }}</p>
                    {% if  item.header.tags %}
                        <div class="tags">

                            <small>Tags: </small>
                            {% for tag in item.header.tags %}
                                <span class="project-tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <a href="{{ item.url(true) }}"><i class="fas fa-external-link-alt"></i> {{ "THEME_SIMPLICITY.FRONTEND.PROJEKTLINK" | t  }}</a>
                </div>
            </article>


        {% endfor %}
    </article>
    <a href="{{ base_url_absolute }}/{{ page.header.reference[1:] }}" class="btn btn-block"><i class="fas fa-external-link-alt"></i> {{ "THEME_SIMPLICITY.FRONTEND.OTHERPROJEKT" | t  }}</a>
</section>
