{% set projectpage = page.find(page.header.reference) %}



<section class="modular modular-entrylist">
    <h2 class="heading">{{ page.header.title }}</h2>
    <article class="content entrylist widget layout-{{ page.header.layout }}">
        {% for item in projectpage.children.published() | slice(0, page.header.count) %}
            <article class="entry-item">
                <div class="item-image">
                    {% if item.header.preview.image %}
                        {% set preview_image = item.header.preview.image | first %}
                        <img src="{{ preview_image.path }}">
                    {% else %}
                        <img src="{{ theme_url }}/images/default_image.jpg">
                    {% endif %}
                </div>
                <div class="item-desc">
                    <strong class="title">{{ item.header.title }}</strong>
                    {% if page.header.slice %}
                        <p>{{ item.header.preview.text | slice(0, 180) }}
                            {% if item.header.preview.text|length > 180 %}....{% endif %}
                        </p>
                    {% else %}
                        <p>{{ item.header.preview.text }}</p>
                    {% endif %}

                    {% if item.header.tags and page.header.showtags %}
                        <div class="tags">

                            <small>Tags: </small>
                            {% for tag in item.header.tags %}
                                <span class="entry-tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <a href="{{ item.url(true) }}"><i class="fas fa-external-link-alt"></i> {{ "THEME_SIMPLICITY.FRONTEND.PROJEKTLINK" | t  }}</a>
                </div>
                <div class="item-date">
                    {{ page.date() | date('d. m. Y') }}
                </div>
            </article>


        {% endfor %}
    </article>
    <a href="{{ base_url_absolute }}/{{ page.header.reference[1:] }}" class="btn btn-block"><i class="fas fa-external-link-alt"></i> {{ "THEME_SIMPLICITY.FRONTEND.OTHERPROJEKT" | t  }}</a>
</section>
