<article class="modular modular-experience">
    {% if page.header.showtitle %}<h2 class="heading">{{ page.header.title }}</h2>{% endif %}
    <div class="content">
        {% for exp in page.header.experience %}
            <div>
                <strong class="title">{{ exp.job }}</strong> -
                <span class="subtitle">{{ exp.company }} <small>({{ exp.date }})</small></span>
                <p>{{ exp.text }}</p>
            </div>
        {% endfor %}
    </div>
</article>
