<article class="modular modular-skills">
    <div class="intro">
        {% if page.header.showtitle %}<h2 class="heading">{{ page.header.title }}</h2>{% endif %}
        <p>{{ page.header.text }}</p>
    </div>
    <article class="content">
        {% for skill in page.header.skills %}
            <div>
                <strong>{{ skill.name }}</strong>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ skill.level }}%" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        {% endfor %}
    </article>

</article>
