<!-- This Grav Theme was build by Tom Hirter -->
<!-- https://hitrer.dev or https://github.com/Memurame -->

{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'de' }}">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="apple-mobile-web-app-capable" content="yes" />
            {% include 'partials/metadata.html.twig' %}
            <link rel="shortcut icon" href="/favicon.ico">
            <link rel="icon" type="image/png" href="{{ url('theme://favicon.png') }}" sizes="32X32" />
            <link rel="apple-touch-icon" href="{{ url('theme://favicon.png') }}">
            <link rel="canonical" href="{{ page.url(true, true) }}" />
            <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

            {% block stylesheets %}
                {% do assets.addCss('theme://build/css/simplicity.min.css', 1) %}
            {% endblock %}
            {{ assets.css() }}
        {% endblock head %}

    </head>
    <body>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        <div class="content-wrapper container">
            <div class="row">
                {% if page.home() %}
                    <main class="col-md-8 col-sm-12 col-xs-12">
                        {% block main %}{% endblock %}
                    </main>
                    <aside class="col-md-4 col-sm-12 col-xs-12">
                        {% block aside %}{% endblock %}
                    </aside>
                {% else %}
                    <main class="col-12">
                        {% block content %}{% endblock %}
                    </main>
                {% endif %}
            </div>
        </div>
        {% block footer %}
            {%  include 'partials/footer.html.twig' %}
        {% endblock %}




        {% block javascripts %}
            {% do assets.addJs('theme://build/js/simplicity.core.min.js',100) %}
            {% do assets.addJs('theme://build/js/simplicity.app.min.js',80) %}
        {% endblock %}
        {{ assets.js() }}
    </body>
</html>
